<!DOCTYPE html>
<html lang="en"
    xmlns = "http://www.w3.org/1999/xhtml"
    xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Fishing Buddy</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Fishing Buddy</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link"  th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/baits' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/baits}">Baits</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/data' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/data}">Orders</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/logout' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">List of Baits</h1>
        </div>
        <div class="row justify-content-center mt-4 mb-4">
            <img th:src="@{/images/fishing.jpg}" alt="fishing image" />
        </div>
    </div>

    <form method="post" th:object = "${fish}">
        <h2>Pick baits from list you would like to buy:</h2>

        <span class ="validationError"
              th:if ="${#fields.hasErrors('baits')}"
              th:errors="*{baits}">Bait Error</span>

        <div class="grid">
            <div class="bait-group" id="spoon">
                <h3>Choose Spoons:</h3>
                <div th:each="bait : ${spoon}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">SPOON</span><br/>
                </div>
            </div>
            <div class="bait-group" id="jig">
                <h3>Choose Jigs:</h3>
                <div th:each="bait : ${jig}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">JIGS</span><br/>
                </div>
            </div>
            <div class="bait-group" id="plastic_bait">
                <h3>Choose Plastic Baits:</h3>
                <div th:each="bait : ${plastic}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">PLASTIC_BAIT</span><br/>
                </div>
            </div>
            <div class="bait-group" id="flies">
                <h3>Choose Flies:</h3>
                <div th:each="bait : ${flies}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">FLIES</span><br/>
                </div>
            </div>
            <div class="bait-group" id="spinner">
                <h3>Choose Spinners:</h3>
                <div th:each="bait : ${spinner}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">SPINNER</span><br/>
                </div>
            </div>
            <div class="bait-group" id="live_bait">
                <h3>Choose Live Baits:</h3>
                <div th:each="bait : ${live_bait}">
                    <input name="baits" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">LIVE_BAIT</span><br/>
                </div>
            </div>
        </div>
        <div class="submit">
            <h3>Name of User:</h3>
            <input type="text" th:field="*{name}"/>
            <span class ="validationError"
                  th:if ="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
            <br/><br/>
            <button>Submit your order</button>
        </div>
    </form>



    <div class="footer">
        <p>Copyright @2020 Slavik Atamanchuk CS-321-1</p>
    </div>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>