<!DOCTYPE html>
<html lang="en"
    xmlns = "http://www.w3.org/1999/xhtml"
    xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styles.css}"/>
    <meta charset="UTF-8">
    <title>Fishing Buddy</title>
</head>
<body>
    <h1>List of Baits</h1>

    <div class="image">
        <img th:src="@{/images/fishing.jpg}" alt="fishing image" />
    </div>



    <form method="POST" th:object="${bait}">
        <h2>Pick baits from list you would like to buy:</h2>
        <div class="grid">
            <div class="bait-group" id="spoon">
                <h3>Choose Spoons:</h3>
                <div th:each="bait : ${spoon}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">BAITS</span><br/>
                </div>
            </div>
            <div class="bait-group" id="jig">
                <h3>Choose Jigs:</h3>
                <div th:each="bait : ${jig}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">JIGS</span><br/>
                </div>
            </div>
            <div class="bait-group" id="plastic_bait">
                <h3>Choose Plastic Baits:</h3>
                <div th:each="bait : ${plastic_bait}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">PLASTIC_BAIT</span><br/>
                </div>
            </div>
            <div class="bait-group" id="flies">
                <h3>Choose Flies:</h3>
                <div th:each="bait : ${flies}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">FLIES</span><br/>
                </div>
            </div>
            <div class="bait-group" id="spinner">
                <h3>Choose Spinners:</h3>
                <div th:each="bait : ${spinner}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">SPINNER</span><br/>
                </div>
            </div>
            <div class="bait-group" id="live_bait">
                <h3>Choose Live Baits:</h3>
                <div th:each="bait : ${live_bait}">
                    <input name="bait" type="checkbox" th:value="${bait.id}"/>
                    <span th:text="${bait.name}">LIVE_BAIT</span><br/>
                </div>
            </div>
        </div>
    </form>



    <div class="footer">
        <p>Copyright @2020 Slavik Atamanchuk CS-321-1</p>
    </div>
</body>
</html>