<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">

<head th:insert="fragments/base :: headContent"></head>
<body>
    <div th:replace="fragments/base :: navigation"></div>

    <div class="container-fluid mt-2">
        <h1 th:text="${'Hi, ' + fullName}">Hi, placeholder</h1>
        <p class="link"><a th:href="@{/baits}" >New Order</a></p>
    </div>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Order History</h1>
        </div>

        <div th:replace="fragments/base :: appImage"></div>
    </div>

    <div class = "order" th:each="fish: ${orders}">
        <p name = "fish" type="hidden" th:value="${fish.name}"><b>Order For:</b>
            <span th:text="${fish.name}">Order Name</span></p>
        <p class = "date"> <b>Date:</b> <span th:text = "${fish.createdAt.getDayOfMonth()} + ' '
                        + ${fish.createdAt.getMonth()} + ' '
                        + ${fish.createdAt.getYear()}">Order Date</span></p>

        <p><b>Items in Order</b></p>

        <div th:each="bait : ${fish.baits}">
            <p name="bait" type="text" th:value="${bait.id}">
                <span th:text="${bait.name}">Order of Baits</span>
            </p>
        </div>
    </div>

    <div th:replace="fragments/base :: footer"></div>

    <div th:insert="fragments/base :: script"></div>
</body>
</html>