<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Fishing Buddy</title>
</head>
<body>

    <h1>Order History</h1>

<div class="image">
    <img th:src="@{/images/fishing.jpg}" alt="fishing image" />
</div>


    <div class = "order" th:each="fish: ${orders}">
        <p name = "fish" type="hidden" th:value="${fish.name}"><b>Order For:</b>
            <span th:text="${fish.name}">Order Name</span></p>
        <p class = "date"> <b>Date:</b> <span th:text = "${fish.createdAt.getDayOfMonth()} + ' '
                        + ${fish.createdAt.getMonth()} + ' '
                        + ${fish.createdAt.getYear()}">Order Date</span></p>

        <p><b>Items in Order</b></p>
        <div th:each="bait : ${fish.baits}">
            <p name="bait" type="text" th:value="${bait.id}">
                <span th:text="${bait.name}">Order of Baits</span>
            </p>
        </div>
    </div>



<div class="footer">
    <p>Copyright @2020 Slavik Atamanchuk CS-321-1</p>
</div>

</body>
</html>