<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Fishing Buddy</title>
</head>
<body>
    <h1>Login to Fishing Buddy</h1>
    <div class="image">
        <img th:src="@{/images/fishing.jpg}" alt="fishing image" />
    </div>
<div class="login">
    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>New here? Click <a th:href="@{/register}">here</a> to register</p>

    <form method ="post" th:action="@{login}" id="loginForm">
        <label for="username">Username</label>
        <input type="text" th:name="username" id="username"/><br/><br/>

        <label for="password">Password:</label>
        <input type="text" th:name="password" id="password"/><br/><br/>

        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>