<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">

<head th:insert="fragments/base :: headContent"></head>
<body>
    <div th:replace="fragments/base :: navigation"></div>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Login to Fishing Buddy</h1>
        </div>

        <div th:replace="fragments/base :: appImage"></div>
    </div>

    <div class="login">
        <div class="validationError" th:if="${param.error}">
            Unable to login. Check your username and password.
        </div>

        <p>New here? Click <a th:href="@{/register}">here</a> to register</p>

        <form class="container-fluid" method ="post" th:action="@{login}" id="loginForm">
            <div class="row form-group justify-content-center">
                <label class="col-form-label col-0 text-right font-weight-bold" for="username">Username:</label>
                <input class="form-control col-5 col-md-2 m-2" type="text" th:name="username" id="username"/><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
                <label class="col-form-label col-0 text-right font-weight-bold" for="password">Password:</label>
                <input class="form-control col-5 col-md-2 m-2" type="password" th:name="password" id="password"/><br/><br/>
            </div>

            <div class="row justify-content-center ml-5">
                <input class="form-control col-3" type="submit" value="Login"/>
            </div>
        </form>
    </div>

    <div th:replace="fragments/base :: footer"></div>

    <div th:insert="fragments/base :: script"></div>
</body>
</html>