<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Fishing Buddy</title>
</head>
<body>

<h1>Fishing Buddy</h1>

<div class="image">
    <img th:src="@{/images/fishing.jpg}" alt="fishing image"/>
</div>

<p class = "link"><a th:href="@{/logout}">Logout</a></p>
<p class="link"><a th:href="@{/baits}" >New Order</a></p><br/>


<h2>Thank you for your submission</h2>
</body>
</html>