h1 {
    text-align:center;
}
img{
    height:200px;
    width:300px;
}

h2, .order {
    text-align:center;

}

.order {
    display: block;
    width:360px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.date {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.grid, .submit {
    margin-bottom:10%;
    text-align:center;
}


.image {
    text-align:center;
    margin:auto;

}

.footer
{
    position: static;
    left:0;
    bottom:0;
    width:100%;
    padding:15px;
    background-color:black;
    color:aliceblue;
    text-align:center;


}

.validationError {
    color: red;
}